[whensmybus]
## Twitter config
# Username goes here, no @ sign
username :
# Consumer OAuth key
consumer_key :
# Consumer OAuth secret
consumer_secret :
# Access token
key :
# Access token secret
secret :
# Your Username - so the bot can DM you with error messages. Just a string, no @ sign (e.g. qwghlm). Make sure you're following it!
admin_name : 

# Optional
# debug_level : INFO|DEBUG
# silent_mode : False|True

[whensmytube]
## Twitter config
# Username goes here, no @ sign
username :
# Consumer OAuth key
consumer_key :
# Consumer OAuth secret
consumer_secret :
# Access token
key :
# Access token secret
secret :
# Your Username - so the bot can DM you with error messages. Just a string, no @ sign (e.g. qwghlm). Make sure you're following it!
admin_name : 

# Optional
# debug_level : INFO|DEBUG
# silent_mode : False|True

[whensmydlr]
## Twitter config
# Username goes here, no @ sign
username :
# Consumer OAuth key
consumer_key :
# Consumer OAuth secret
consumer_secret :
# Access token 
key :
# Access token secret
secret :
# Your Username - so the bot can DM you with error messages. Just a string, no @ sign (e.g. qwghlm). Make sure you're following it!
admin_name : 

# Optional
# debug_level : INFO|DEBUG
# silent_mode : False|True