[whensmybus]
## Twitter config
# Username goes here, no @ sign
username :
# App OAuth key
consumer_key :
# App OAuth secret
consumer_secret :
# User OAuth key
key :
# User OAuth secret
secret :
# Your Username - so the bot can DM you with error messages. Just a string, no @ sign (e.g. qwghlm). Make sure you're following it!
admin_name : 

## Geo config
# Yahoo PlaceFinder app ID (8 characters, optional but needed for geocoding of addresses to work)
yahoo_app_id : 

# Optional
# debug_level : INFO|DEBUG
# test_mode : False|True

[whensmytube]
## Twitter config
# Username goes here, no @ sign
username :
# App OAuth key
consumer_key :
# App OAuth secret
consumer_secret :
# User OAuth key
key :
# User OAuth secret
secret :
# Your Username - so the bot can DM you with error messages. Just a string, no @ sign (e.g. qwghlm). Make sure you're following it!
admin_name : 

# Optional
# debug_level : INFO|DEBUG
# test_mode : False|True

[whensmydlr]
## Twitter config
# Username goes here, no @ sign
username :
# App OAuth key
consumer_key :
# App OAuth secret
consumer_secret :
# User OAuth key
key :
# User OAuth secret
secret :
# Your Username - so the bot can DM you with error messages. Just a string, no @ sign (e.g. qwghlm). Make sure you're following it!
admin_name : 

# Optional
# debug_level : INFO|DEBUG
# test_mode : False|True