[whensmybus]
# Username goes here, no @ sign
username :

# App OAuth key
consumer_key :
# App OAuth secret
consumer_secret :

# User OAuth key
key :
# User OAuth secret
secret :

# Yahoo PlaceFinder app ID (8 characters, optional but needed for geocoding of addresses to work)
yahoo_app_id : 

# Optional
# debug_level : INFO|DEBUG
# test_mode : False|True